@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;1,200;1,300&display=swap');

$primary-font-family: 'Roboto Mono';
$dashboard-color: #808080;
$container-color: #ffffff;
$container-shadow: #d9d9d9;

$primary-color: #2fcb72;
$secondary-color: #202020;
$accent-color: #a5f41d;
