.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: $secondary-color;
} 
  
.sidebar {
    width: 16%;
    max-width: 300px;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $primary-color; 
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.account-list {
    flex-grow: 1;

    .account-info {
        display: flex;
        flex-direction: column;
        color: $secondary-color;
    }    

    h3 {
        margin: 0;
        padding: 10px;
        border: 1px solid $secondary-color;
    }
  
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        li {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid $secondary-color;
            transition: 0.1s ease-in-out;
        &:hover {            
            background-color: rgba($accent-color, 0.60);
        }

        &.selected-account {
            background-color: $accent-color;
        }
        }
    }
}
  
.content-section {
    flex: 1;
    justify-content: center;
    padding: 30px;
    overflow-y: auto;    
    // margin-left: 16%;
    margin-left: calc(16% + 40px);
}
  
.transaction-content {
    background-color: $primary-color;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: 240px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: $primary-color $accent-color;

    h3 {
        margin-bottom: 20px;
    }

    .transaction-list {
        
        p {
            margin-top: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;

                .transaction {
                    display: flex;
                    justify-content: space-between;
                }

            }
        }
    }
}
  
.chart-content {
    margin-top: 20px;
    background-color: $primary-color;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: 360px;
    padding: 10px;
    box-shadow: 3px 3px #0d0d0d;
}

.category-content {
    margin-top: 20px;
    background-color: $primary-color;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: 300px;
    padding: 10px;
    box-shadow: 3px 3px #0d0d0d;    
    display: flex;
    align-items: center;
}
